<a href="https://colab.research.google.com/github/Leenasmk3/IT326-DataMining-Project/blob/main/phase1_ipynh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project Goal

Goal: Classification task to predict survival on the Titanic dataset.

Dataset Source
The dataset used in this project was obtained from Kaggle ,

Dataset name: Titanic Dataset

URL: https://www.kaggle.com/datasets/yasserh/titanic-dataset

In [ ]:
import pandas as pd

In [8]:
from google.colab import files
url = "https://raw.githubusercontent.com/Leenasmk3/IT326-DataMining-Project/main/dataset.csv"
data = pd.read_csv(url)

In [9]:
# Number and data types of attributes(features)
print("Number of attributes:", data.shape[1])

Number of attributes: 12

In [10]:
print("\nData types of attributes:\n", data.dtypes)

Data types of attributes:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [11]:
# Number of objects (instances/records)
print("\nNumber of records:", data.shape[0])

Number of records: 891

In [12]:
# Class attribute: Survived
print("Class attribute: Survived (0 = Did not survive, 1 = Survived)")

counts = data["Survived"].value_counts().sort_index()
total = counts.sum()

for label, count in counts.items():
    percent = (count / total) * 100
    print(f"Label {label}: {count} passengers ({percent:.2f}%)")

Class attribute: Survived (0 = Did not survive, 1 = Survived)
Label 0: 549 passengers (61.62%)
Label 1: 342 passengers (38.38%)

In [13]:
# Print a sample of the raw dataset
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S