<a href="https://colab.research.google.com/github/Leenasmk3/IT326-DataMining-Project/blob/main/phase1_ipynh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project Goal

Goal: Classification task to predict survival on the Titanic dataset.

Dataset Source
The dataset used in this project was obtained from Kaggle ,

Dataset name: Titanic Dataset

URL: https://www.kaggle.com/datasets/yasserh/titanic-dataset

In [ ]:
import pandas as pd

In [8]:
from google.colab import files
url = "https://raw.githubusercontent.com/Leenasmk3/IT326-DataMining-Project/main/dataset.csv"
data = pd.read_csv(url)

In [9]:
# Number and data types of attributes(features)
print("Number of attributes:", data.shape[1])

Number of attributes: 12

In [10]:
print("\nData types of attributes:\n", data.dtypes)

Data types of attributes:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
# Number of objects (instances/records)
print("\nNumber of records:", data.shape[0])